name: POC

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Extract Git Information
        id: sha_key
        run: echo "::set-output name=sha_key::$(git rev-parse --short HEAD)"

      - name: Set Date Timestamp
        id: date
        run: echo "::set-output name=date::$(date +'%Y%m%d%H%M%S')"

      - name: Set Semantic Version
        id: semver
        run: echo "::set-output name=semver::$(cat pom.xml | grep '<version>' | head -n1 | sed 's/.*<version>\(.*\)<\/version>.*/\1/')"

      - name: Generate Version Information
        id: version
        run: echo "::set-output name=version::$(date +'%Y%m%d%H%M%S')-$(git rev-parse --short HEAD)"

      - name: Show Version
        run: | 
          echo "sha_key is ${{ steps.sha_key.outputs.sha_key }}"
          echo "date is ${{ steps.date.outputs.date }}"
          echo "semver is ${{ steps.semver.outputs.semver }}"
          echo "version is ${{ steps.version.outputs.version }}"

      - name: Build Docker image
        run: |
          # docker build --build-arg VERSION="${{ steps.semver.outputs.semver }}" --build-arg DATE_TIMESTAMP="${{ steps.date.outputs.date }}" --build-arg SHA_KEY="${{ steps.sha_key.outputs.sha_key }}" -t abhishekshindeagiliad/poc:${{ github.sha }}-${{ steps.semver.outputs.semver }} .
          docker build --build-arg VERSION="${{ steps.semver.outputs.semver }}" --build-arg DATE_TIMESTAMP="${{ steps.date.outputs.date }}" --build-arg SHA_KEY="${{ steps.sha_key.outputs.sha_key }}" -t abhishekshindeagiliad/poc:latest .
          # docker tag abhishekshindeagiliad/poc:${{ github.sha }}-${{ steps.semver.outputs.semver }} abhishekshindeagiliad/poc:latest
          # docker tag abhishekshindeagiliad/poc:${{ github.sha }}-${{ steps.semver.outputs.semver }} abhishekshindeagiliad/poc:${{ github.sha }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
  
      - name: Push Docker image
        run: |
          # docker push abhishekshindeagiliad/poc:${{ github.sha }}-${{ steps.semver.outputs.version }}
          docker push abhishekshindeagiliad/poc:latest
          # docker push abhishekshindeagiliad/poc:${{ github.sha }}

      - name: Create GitHub Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.semver.outputs.semver }}
          release_name: Release ${{ steps.semver.outputs.semver }}
          body: |
            Release ${{ steps.semver.outputs.semver }}
          draft: false
          prerelease: false
